.main_container img{
  
    width: 100%;
    height: 60vh;
background-repeat: no-repeat;

}
.header_main_container{
    position: absolute;
    left: 70px;

    margin-top: 50px;
    color: white;
    font-style: italic;
    font-size: large;

}
.btn{
    background-color: white;
    padding: 5px;
    border: 1px solid white;
    border-radius: 20px;
    color: black;
    margin-top: 70px;
    font-weight: bolder;
float:left;

}
.btn:hover{
    
    transform: translateY(-3px);
    background-color: aliceblue;
}
  .main_container_sub_header{
background-color: orange;    
}
/* Here */
.main_container_sub_header
{position: absolute;
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    orange 0%,
    orange 29%,
    rgb(255, 255, 255) 67%,
    #ffffff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 10% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 30s linear infinite;
  display: inline-block;
 
      /* font-size: 10px; */
      
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}